h1 {
  color: orange;
  font-size: 50px;
  margin-bottom: 25px;
}

h2 {
  color: red;
  margin-bottom: 25px;
}
img {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 250px;
  height: 150px;
}

p {
  background-color: seagreen;
  width: 400px;
}
